.portfolio {
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 125px;
}

.portfolio__title {
  margin: 0 0 50px;
  color: #8B8B8B;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}

.portfolio__projects-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.portfolio__project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 19px;
  border-bottom: 1px solid #424242;
  margin-bottom: 20px;
}

.portfolio__project:last-child {
  border-bottom: none;
  margin: 0;
  padding: 0;
}

.portfolio__link {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  line-height: 50px;
  font-weight: 400;
  width: 100%;
  background-image: url(../../images/text__COLOR_font-main.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 29px 60px;
}

@media screen and (max-width:1150px) {
  .portfolio {
    padding: 0 70px 90px;
  }
}

@media screen and (max-width:768px) {
  .portfolio {
    max-width: 668px;
  }

  .portfolio__project {
    border-bottom: 1px solid #E6E6E6;
  }

  .portfolio__link {
    font-size: 28px;
  }
}

@media screen and (max-width:610px) {
  .portfolio {
    padding: 0 30px 90px;
  }

  .portfolio__link {
    background-size: 18px 28px;
    font-size: 22px;
    line-height: 32px;
  }
}

@media screen and (max-width:450px) {
  .portfolio {
    max-width: 292px;
    padding: 0 0 70px;
  }

  .portfolio__title {
    margin-bottom: 40px;
    font-size: 14px;
  }

  .portfolio__link {
    background-size: 18px 28px;
    font-size: 18px;
    line-height: 28px;
  }
}