.header {
  background-color: #073042;
}

.header__container {
  padding-left: 70px;
  padding-right: 70px;
  margin: 0 auto;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
}

.header_color_dark {
  background-color: transparent;
  padding: 0;
}

@media screen and (max-width:1150px) {
  .header_color_dark {
    padding: 0;
  }
}

@media screen and (max-width:768px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width:320px) {
  .header {
    padding-left: 14px;
    padding-right: 14px;
  }
}